tests
node_modules
coverage
.github
.gitpod.yml
eslintrc.js
eslintrc.json
.eslintrc.json
.eslintignore
.prettierrc
.prettierignore
babel.config.js
jest.config.js
rollup.config.mjs
source-fullcodetest.md
renovate.json
examples
CONTRIBUTING.md
CHANGELOG.md
*.lock
